/* global styles */

html,
div {
  scroll-behavior: smooth;
}

body {
  font-family: "Terminus";
  background-color: #000000;
  color: #20db8f;
  margin: 0;
  padding: 0;
}

/* components specific styles */

main {
  min-height: 100dvh;
}

header {
  width: 100%;
  text-align: center;
  background-color: #222;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.title-sub {
  font-size: 1.5rem;
  padding: 5px;
  margin: 0;
  font-style: italic;
  word-break: break-word;
}

/*
@media screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1300px) {
  .title {
    font-size: 10rem;
  }
}

*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-links li {
  flex: 1;
  min-width: 75px;
  text-align: center;
}

.nav-links li a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 1.07rem 1rem;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.nav-links li a:hover {
  background-color: #333;
}

.content {
  padding-top: 150px;
}

section {
  scroll-margin-top: 220px;
  padding-bottom: 60px;
}

.footer {
  margin: 0;
  height: 200px;
  background-color: #212121;
  color: #ffffff;
}

p.footer {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

span.footer {
  display: flex;
  align-items: center;
}

img.footer {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

/* fonts */

@font-face {
  font-family: "Terminus";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/TerminusTTF-4.49.3.ttf");
}

@font-face {
  font-family: "Terminus";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/TerminusTTF-Bold-4.49.3.ttf");
}

@font-face {
  font-family: "Terminus";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/TerminusTTF-Italic-4.49.3.ttf");
}
