/* global styles */

html,
div {
  scroll-behavior: smooth;
}

a {
  color: #fff;
}

body {
  font-family: "Terminus";
  background-color: #000000;
  color: #20db8f;
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

* {
  font-size: 1.1rem;
}

header {
  /* width: 100%; */
  text-align: center;
  background-color: #222;
}

/* components specific styles */

.container {
  width: 100%;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1233px;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 30px;
  margin: 0;
  /* width: 100%; */
  text-align: center;
}

.title-sub {
  font-size: 1rem;
  padding: 10px;
  margin: 0;
  word-break: break-word;
}

/*
@media screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1300px) {
  .title {
    font-size: 10rem;
  }
}

*/

@media screen and (min-width: 1300px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}

@media screen and (max-width: 1299px) {
  .navbar {
    display: none;
  }
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.nav-links li {
  flex: 1;
  min-width: 75px;
  text-align: center;
}

.nav-links li a {
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  padding: 1.07rem 1rem;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.nav-links li a:hover {
  background-color: #333;
}

.content {
  padding-top: 150px;
}

section {
  scroll-margin-top: 220px;
  padding-bottom: 60px;
}

.section-title {
  color: #fff;
  font-size: 1.5rem;
}

.section-body {
}

.section-body h3 {
  color: #fff;
}

.online {
  color: #28a745;
}

.offline {
  color: #fd2a00;
}

.syncing {
  color: #ff4a13;
}

#monerod-status {
  text-transform: capitalize;
}

.copy-button {
  background-color: #232323;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#footer {
  background-color: #212121;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow-wrap: break-word;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer .footer-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}

#footer .footer-left code {
  overflow-wrap: break-word;
}

#footer .footer-left button {
}

#footer .footer-right {
  margin-right: 30px;
}

#footer .footer-right a {
  text-decoration: underline;
  color: #fff;
}

#footer .footer-right a:hover {
  text-decoration: none;
}

/* fonts */

@font-face {
  font-family: "Terminus";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/TerminusTTF-4.49.3.ttf");
}

@font-face {
  font-family: "Terminus";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/TerminusTTF-Bold-4.49.3.ttf");
}

@font-face {
  font-family: "Terminus";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/fonts/TerminusTTF-Italic-4.49.3.ttf");
}
